*{
margin:0;
  padding:0;
  list-style:none;
  box-sizing: border-box;
 text-decoration:none; 
}


body {
  height: 100vh;
  width: 100%;
  background: #faf1e5;
  
}
header{
display: flex;
  align-items: center;
  background: #f1d4b1;
justify-content: space-evenly;
padding: 10px 5px;
}
h1{
  font-size: 15px;
  color:#8b5718;
font-weight:900;
}
input{
  border:none;
  width: 50%;
  padding:5px 8px;
  font-size:8px;
  background:#faf1e5;
}
button{
border:none;
  font-size:8px;
  background: linear-gradient(to left,#8b5718,#b67320);
  padding:7px;
  border-radius:5px;
  color: white;
 font-weight: bold;
  
}
form{
  display: flex;
  align-items: center;
  
width:40%;
  gap:7px;
}
.book,.result{
font-size:9px;
  color:#8b5718;
  font-weight: bold;
  
}
.img{
width:150px;
  heigth:100%;
  border-radius:15px;
}
.container {
width:100%;
heigth:100%;
}
.ul{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
  width: 80%;
  position: relative;
  left:11%;
  padding:25px;
 background: #b67320;
 margin: 20px 0;
  border-radius: 25px;
  
}
.list_link{
  display: flex;
gap:35px;
  /* border:5px solid red; */
  height: 150px;
background: #f1d4b1;
  border-radius:20px;
}
.content{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
padding: 10px;
}
.container{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 90vh;
}
.intro{
text-align: center;
  padding:20px 20px 0 20px;
font-weight: 900;
color:#8b5718;
}
.title{
font-size:6px;
font-weight: 900;
color:#8b5718;
}
.publisher{
font-weight: 900;
color:#8b5718; 
  font-size:12px;
}
.buts{
display: flex;
width: 100%;
justify-content: space-evenly;
align-items: center;
}
.but{
font-size:10px;
  font-weigth:bold;
  text-transform: uppercase;
}
.imgs{
  width:100%;
  heigth:10px;
  border-radius:0px;
}
.li-container{
height: 95vh;
}
.back{
width: 100%;
height:30%;
}
.obj-title{
font-size:10px;
font-weight: 900;
background:#8b5718 ;
  color: #faf1e5;
  padding:10px;
  position: relative;
  top:7%;
  border-radius:7px;
  text-transform: uppercase;
transform: rotate(-3deg);
}
.cancel {
font-size:15px;
font-weight: 900;
background:#8b5718 ;
  color: #faf1e5;
   padding:10px 15px; 
  border-radius:30px; 
  margin-top: 5px;
  float:right;
  position: relative;
  left:40%;
}
.time-container{
display: flex;
justify-content: space-evenly;
width: 100%;
align-items:center;
padding:20px 0;
}
.time{
font-size:10px;
  color:#8b5718;
  font-weight: bold;
}
.time-but{
background:none;
  border:2px solid #8b5718;
  padding:3px 5px;
  border-radius:30px;
  color: #8b5718;
  aspect-ratio:1;
  font-weight: bold;
  font-size:8px;
}
.recipe{
background:#f1d4b1;
  width:100%;
  height: 47%;
  text-align: center;
}
.rec-ing{
padding: 15px 0;
}
.ing-ul{
display:grid;
  grid-template-columns:auto auto;
  align-items: center;
  justify-content: space-evenly;
  row-gap:15px;
  padding:10px 20px;
}
.ing-li{
font-size:10px;
color: #8b5718;
  font-weight: bold;
  text-align: left;
}
.cook-how{
font-size:12px;
 color: #8b5718; 
}
.direction{
color:#faf1e5;
  font-weight: bold;
  font-size:12px;
}
.cook{
padding:20px 20px;
  text-align: center;
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;

 
}